body {
	background-image: url("../images/galaxy-wallpaper-11.jpg"); 
}

.jumbotron {
	padding: 20px;
	background-color: transparent;

}
#heading {
	align-self: center;
	text-align: center;
	width: 100%;
}

.row {
	margin-left: 10px;
}

#heading {
	background-color: black;
	color: white;
	width: 350px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 10px;
	font-size: 40px;
}

#info {
	background-color: transparent;
	color: white;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 10px;

}

#randomNumBox {
	background-color: black;
	color: white;
	margin-right: 10px;
	height: 80px;
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
}

#scoreBox {
	background-color: black;
	color:white;
	height:80px;
}

#crystalImg1 {
	width: 210px;
	background-image: url("../images/crystal1.jpg");
	background-size: 200px 80px;
	margin-left: 80px;
	margin-right: 20px;
	
}

#crystalImg2 {
	width: 210px;
	background-image: url("../images/crystal2.jpg");
	background-size: 200px 80px;
	margin-right: 20px;
}

#crystalImg3 {
	width: 210px;
	background-image: url("../images/crystal3.jpg");
	background-size: 200px 80px;
	margin-right: 20px;
}

#crystalImg4 {
	width: 210px;
	background-image: url("../images/crystal4.jpg");
	background-size: 200px 80px;
	margin-right: 20px;
}

.buttonC {
	margin-top: 10px;
	margin-right: 10px;
	height:100px;
	width: 100px;
}

#totalText {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: black;
	margin-top:10px;
	color: white;
	text-align: center;
}


#wins {
	margin-top: 15px;
}

#losses {
	margin-top: 10px;
}


